.detail {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  &__main-info {
    width: 80%;
    max-width: 200px;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      color: #434343;
      text-align: center;
    }
  }

  &__share-sites {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    gap: 10px;

    img {
      width: 25px;
      height: 25px;
    }
  }
}
