<div class="login">
  <section class="login__welcome-message">
    <p>Before living your best shopping experience, let us know who you are...</p>
  </section>
  <section class="login__inputs">
    <div class="login__inputs--username input">
      <label for="username">Username</label>
      <input type="text" id="username">
    </div>
    <div class="login__inputs--password input">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>
    <button class="login__inputs__login-btn">Log in</button>
  </section>
  <section class="login__link-to-signup">
    <p>New here? <a>Sign up</a></p>
  </section>
</div>
